@import "tailwindcss";

:root {
    --background: rgb(253 242 248);
    --foreground: rgb(75 85 99);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-gaegu: var(--font-gaegu);
    --font-kosugi-maru: var(--font-kosugi-maru);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(49 46 49);
        --foreground: rgb(253 242 248);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-gaegu), system-ui, sans-serif;
}
